.ch04-main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.ch04Box {
  width: 90%;
  height: 90%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
}

.box {
  width: 250px;
  height: 260px;
  position: relative;
  background-color: white;
}

.box p {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: 30px;
}

.box:nth-child(1) {
  top: 20px;
}
.box:nth-child(2) {
  top: -20px;
}
.box:nth-child(3) {
  top: 0px;
}

#css-js {
  width: 250px;
  height: 260px;

  position: relative;
  background-color: white;
  transition: 0.5s all;
  transform: scale(1.3);
}

.css-js-tools {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: blue;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s all;
  transition-delay: 0.4s;
}

#css-js-tool1 {
  left: -45%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  font-size: 50px;
  font-weight: 800;
}
#css-js-tool2 {
  left: -40%;
  top: -40%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  font-size: 50px;
  font-weight: 800;
}
#css-js-tool3 {
  left: -20%;
  top: 140%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  font-size: 50px;
  font-weight: 800;
}
#css-js-tool4 {
  left: 80%;
  top: 140%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  font-size: 50px;
  font-weight: 800;
}

#graphic {
  width: 250px;
  height: 260px;

  position: relative;
  background-color: white;
  transition: 0.5s all;
  transform: scale(1.3);
}

.graphic-tools {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: blue;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s all;
  transition-delay: 0.4s;
}

#graphic-tool1 {
  left: -45%;
  transition-delay: 0.4s;
}
#graphic-tool2 {
  left: -40%;
  top: -40%;
}
#graphic-tool3 {
  left: -20%;
  top: 140%;
}
#graphic-tool4 {
  left: 80%;
  top: 140%;
}

#my {
  width: 250px;
  height: 260px;

  position: relative;
  background-color: white;
  transition: 0.5s all;
  transform: scale(1.3);
}

.medias {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: blue;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s all;
  transition-delay: 0.4s;
}

#media1 {
  left: -45%;
  transition-delay: 0.4s;
}
#media2 {
  left: -40%;
  top: -40%;
}
#media3 {
  left: -20%;
  top: 140%;
}
#media4 {
  left: 80%;
  top: 140%;
}

.left-box1 {
  position: absolute;
  left: 1%;
  bottom: 1%;
  font-size: 15px;
  font-weight: 400;
  color: rgb(52, 52, 57);
}

.left-box1-line {
  position: absolute;
  width: 1px;
  height: 100%;
  border-left: 2px solid red;
  left: -5%;
}

.right-box1 {
  position: absolute;
  bottom: 20%;
  right: 5%;
  width: 50px;
  height: 50px;
  background-color: rgb(241, 241, 241);
}
.right-box1-circle {
  width: 15px;
  height: 15px;
  border: 1.5px solid rgb(0, 0, 0);
  border-radius: 50%;
  position: absolute;
  bottom: 10%;
  right: 10%;
}
.right-box2 {
  position: absolute;
  bottom: 10%;
  right: 10%;
  width: 150px;
  height: 50px;
  background-color: rgb(241, 241, 241);
}
.right-box2 p {
  position: absolute;
  bottom: 10%;
  left: 5%;
  font-size: 10px;
  color: red;
}

.right-box2-square {
  width: 15px;
  height: 15px;
  border: 1.5px solid rgb(0, 0, 0);
  position: absolute;
  bottom: 10%;
  right: 5%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5px;
}

.name {
  position: absolute;
  bottom: 1%;
  right: 1%;
  color: rgb(207, 207, 207);
}

.css-js-bg {
  opacity: 0;
  z-index: -2;
  width: 200px;
  height: 500px;
  position: absolute;
  right: 5%;
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 100px;
  font-weight: 600;
  line-height: 0.8; /* 글자 상하 여백 초기화 */
  letter-spacing: -0.3em;
  color: rgb(215, 215, 215);
}

.graphic-bg {
  opacity: 0;
  z-index: -2;
  width: 200px;
  height: 500px;
  position: absolute;
  left: 5%;
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 100px;
  font-weight: 600;
  line-height: 0.8; /* 글자 상하 여백 초기화 */
  letter-spacing: -0.3em;
  color: rgb(215, 215, 215);
}
.my-bg {
  opacity: 0;
  z-index: -2;
  width: 200px;
  height: 500px;
  position: absolute;
  left: 5%;
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 100px;
  font-weight: 600;
  line-height: 0.8; /* 글자 상하 여백 초기화 */
  letter-spacing: -0.2em;
  color: rgb(215, 215, 215);
}
