.act3-container {
  width: 100%;
  height: 50vh;
}

.act3-box {
  width: 100%;
  height: 100%;
  position: relative;
}
.act3-bg {
  position: absolute;
  width: 100%;
  height: 90%;
  background-image: url(../img/act3-bg-v2-2.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  top: 5%;
}

.act3-profile {
  position: absolute;
  width: 220px;
  height: 100%;
  left: 60%;
  background-color: rgba(60, 60, 60, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.act3-profile h1 {
  position: relative;
  font-weight: 300;
  color: white;
  width: 100%;
  text-align: center;
  font-size: 15px;
  top: 15px;
}

.act3-profile-line {
  width: 100%;
  height: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.act3-profile-line hr {
  width: 40px;
  height: 0.5px;
  border: 0;
  background-color: white;
}
.act3-profile-img {
  width: 100%;
  display: flex;
  justify-content: center;
}
.act3-profile-img img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.act3-profile h3 {
  position: relative;
  color: white;
  font-weight: 200;
  font-size: 15px;
  width: 100%;
  text-align: center;
  top: -10px;
}
.act3-profile h4 {
  position: relative;
  color: white;
  font-weight: 200;
  font-size: 10px;
  top: -30px;
}

.act3-bottom {
  position: absolute;
  width: 100%;
  height: 50%;
  z-index: -1;
  bottom: 0px;
  background-color: rgb(238, 238, 238);
}
