@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
/*font-family: 'Roboto', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
/* font-family: 'Dancing Script', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
/* font-family: 'Nanum Myeongjo', serif; */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
